<md-list>
    <md-card *ngFor="let game of games;" style="margin-bottom: 20px">
        <md-card-subtitle>Competed {{game.Time | amTimeAgo}}</md-card-subtitle>
        <md-card-content>
            <div *ngFor="let player of game.Players;" style="padding-right: 20px; display: inline">
                <md-card-title>
                    <md-icon *ngIf="player.Team === game.TeamWon" style="color: gold;">star rate
                    </md-icon>
                    <a routerLink="/statistics/player/{{player.Name}}">{{player.Name}}</a>
                </md-card-title>
                <md-card-subtitle>Team: {{player.Team}}</md-card-subtitle>
            </div>
        </md-card-content>
    </md-card>
</md-list>
