<md-toolbar color="primary">
    {{title}}
    <span class="app-toolbar-filler"></span>
</md-toolbar>

<div class="app-content">
    <nav md-tab-nav-bar>
        <a md-tab-link
           *ngFor="let link of navLinks"
           [routerLink]="[link.path]"
           routerLinkActive #rla="routerLinkActive"
           [active]="rla.isActive">
            {{link.label}}
        </a>
    </nav>
    <router-outlet></router-outlet>
</div>

<span class="app-action" routerLink="/match" [routerLinkActive]="['hidden']">
  <button md-fab><md-icon>add circle</md-icon></button>
</span>
